/*цвет основного текста #757575*/

/* цвет фона #FFFFFF */

/* вторичный цвет фота #F5F4FA */

/*вторичный цвет rgba(33, 33, 33, 1)*/

/* лого #2196F3 */

/* акцент #2196F3 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --current-red-color: #f80808;
  --portfolio-bg-color: #f5f4fa;
}
/* body */
body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
}
/* page header */
.page-header {
  background-color: #cecece;
}

/* site nav */
.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--current-red-color);
}
.site-nav .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .title:hover,
.site-nav .title:focus {
  color: var(--accent-color);
}
.site-nav .title.current {
  color: var(--current-red-color);
}
/* auth nav */
.auth-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--primary-text-color);
}
.auth-nav .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .title:hover,
.auth-nav .title:focus {
  color: var(--accent-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 900px;
  outline: 2px solid khaki;
}

/* hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
.hero {
  text-align: center;
}

.button.primary {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* скрытый заголовок*/
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list .link {
  color: var(--accent-color);
  text-decoration: none;
}
.feature-list {
  margin-top: 0;
  margin-bottom: 0;
}
.feature-list p,
h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* team */

.section-team {
  text-align: center;
  margin-top: 0;
  margin-bottom: 29px;
}
.our-team {
  margin-top: 0;
  margin-bottom: 0;
}

/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  border: 1px solid transparent;
}

/* footer */
.footer {
  background: #2f303a;
}

/* Portfolio */
/* цвет кнопок: текст-212121, фон-F5F4FA */

.button.portfolio:hover,
.button.portfolio:focus {
  color: var(--portfolio-bg-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
}
.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav p {
  color: var(--primary-text-color);
}
